@model SkyLo.Models.UserRoleViewModel

@{
    ViewBag.Title = "Add User To Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="starter-template">
    <h1>Add New Role</h1>
    <p class="lead">Every user has to have a role.</p>
</div>

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3 well well-lg">
        @using (Html.BeginForm("AddUserToRole", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!--Username-->
            <div class="form-group">
                @*<label for="userNm" class="col-md-4 control-label">Username</label>*@
                @Html.LabelFor(m => m.SelectUser, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.SelectUser, new SelectList(ViewBag.UserList, "Id", "Username"), "-/- Select a username -/-", new { @class = "selectpicker" })
                    @Html.ValidationMessageFor(m => m.SelectUser, "", new { @class = "text-danger" })
                </div>
            </div>
            <!--Role-->
            <div class="form-group">
                @*<label for="userRole" class="col-md-4 control-label">User role</label>*@
                @Html.LabelFor(m => m.SelectRole, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.SelectRole, new SelectList(ViewBag.RoleList, "Name", "Name"), "-/- Select a role -/-", new { @class = "selectpicker" })
                    @Html.ValidationMessageFor(m => m.SelectRole, "", new { @class = "text-danger" })
                </div>
            </div>
            <!---->
            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-default">Add</button>
                    <button type="reset" class="btn btn-default" id="resetBtn">Reset</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
   
}